<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Create a appender to logcat -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Log from Telenav Search engine -->
    <logger name="UnifiedSearch" level="INFO">
        <appender-ref ref="logcat" />
    </logger>

    <!-- Log from Telenav SDK -->
    <logger name="com.telenav.sdk" level="DEBUG">
        <appender-ref ref="logcat" />
    </logger>

    <logger name="telenav.demo.app" level="DEBUG">
        <appender-ref ref="logcat" />
    </logger>


</configuration>